<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Images</title>
</head>
<body>
    <%files.forEach(function(file) {%>
        <img style="height: 200px;" src="data:image/jpg;base64,<%= file.image.toString('base64') %>" alt="">
        <%}) %>
  
</body>
</html>